@font-face {
    font-family: "Orbitron";
    src: url(../font/Orbitron-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../font/SpaceGrotesk-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url(../font/SpaceMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "SpaceGrotesk";
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Orbitron";
}
